.app {
    background: var(--bg-main);
    color: var(--text);
    font-family: "Martian Mono", monospace;
    padding: 0 120px 20px 120px;
    min-height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
}
