:root {
  --base-black: #1C1818;
  --base-black-1: #2E2B2B;
  --base-white: #F5F5F0;
  --base-black-2: #514D4D;
  --accent-green: #56A969;


  --bg-main: var(--base-black);
  --bg-secondary: var(--base-black-1);
  --text: var(--base-white);
  --bg-button-next: var(--accent-green);
  --bg-hover: var(--base-black-2)

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

